<Configuration status="WARN">

    <Properties>
        <Property name="FILE_PATH">logs</Property>
        <Property name="FILE_SIZE">60MB</Property>
        <Property name="FILE_MAXCOUNT">30</Property>
        <Property name="console_pattern">%d{HH:mm:ss.SSS} %5p [%thread] (%c:%M:%L) - %m%n</Property>
        <Property name="file_pattern">%d %5p [%thread] (%c:%M:%L) - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${console_pattern}"/>
        </Console>
        <RollingRandomAccessFile name="debugFile"
                                 fileName="${FILE_PATH}/debug.log" filePattern="${FILE_PATH}/debug.log.%i" immediateFlush="false">
            <PatternLayout pattern="${file_pattern}"/>
            <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            <DefaultRolloverStrategy max="${FILE_MAXCOUNT}"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="infoFile"
                                 fileName="${FILE_PATH}/info.log" filePattern="${FILE_PATH}/info.log.%i" immediateFlush="false">
            <PatternLayout pattern="${file_pattern}"/>
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
            <DefaultRolloverStrategy max="${FILE_MAXCOUNT}"/>
        </RollingRandomAccessFile>
        <!--<RollingRandomAccessFile name="stfile"-->
                                 <!--fileName="${FILE_PATH}/timerlog.log" filePattern="${FILE_PATH}/timerlog.log.%i" immediateFlush="false">-->
            <!--<PatternLayout pattern="${file_pattern}"/>-->
            <!--<SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>-->
            <!--<DefaultRolloverStrategy max="${FILE_MAXCOUNT}"/>-->
        <!--</RollingRandomAccessFile>-->
        <!--<RollingRandomAccessFile name="msgfile"-->
                                 <!--fileName="${FILE_PATH}/808messagelog.log" filePattern="${FILE_PATH}/808messagelog.log.%i"-->
                                 <!--immediateFlush="false">-->
            <!--<PatternLayout pattern="${file_pattern}"/>-->
            <!--<SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>-->
            <!--<DefaultRolloverStrategy max="${FILE_MAXCOUNT}"/>-->
        <!--</RollingRandomAccessFile>-->
        <!--<RollingRandomAccessFile name="connfile"-->
                                 <!--fileName="${FILE_PATH}/connlog.log" filePattern="${FILE_PATH}/connlog.log.%i" immediateFlush="false">-->
            <!--<PatternLayout pattern="${file_pattern}"/>-->
            <!--<SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>-->
            <!--<DefaultRolloverStrategy max="${FILE_MAXCOUNT}"/>-->
        <!--</RollingRandomAccessFile>-->
        <!--<RollingRandomAccessFile name="binaryfile"-->
                                 <!--fileName="${FILE_PATH}/808binarylog.log" filePattern="${FILE_PATH}/808binarylog.log.%i"-->
                                 <!--immediateFlush="false">-->
            <!--<PatternLayout pattern="${file_pattern}"/>-->
            <!--<SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>-->
            <!--<DefaultRolloverStrategy max="${FILE_MAXCOUNT}"/>-->
        <!--</RollingRandomAccessFile>-->
    </Appenders>

    <Loggers>
        <Root level="info" includeLocation="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="debugFile"/>
            <AppenderRef ref="infoFile"/>
        </Root>
        <AsyncLogger name="net.fxft" level="debug" additivity="false" includeLocation="true">
            <AppenderRef ref="console"/>
            <AppenderRef ref="debugFile"/>
            <AppenderRef ref="infoFile"/>
        </AsyncLogger>
        <AsyncLogger name="com.ltmonitor" level="debug" additivity="false" includeLocation="true">
            <AppenderRef ref="console"/>
            <AppenderRef ref="debugFile"/>
            <AppenderRef ref="infoFile"/>
        </AsyncLogger>
        <!--<AsyncLogger name="com.ltmonitor.jt808.protocol.T808Message" level="error" additivity="false"-->
                     <!--includeLocation="true">-->
            <!--<AppenderRef ref="console"/>-->
            <!--<AppenderRef ref="msgfile"/>-->
            <!--<AppenderRef ref="infoFile"/>-->
        <!--</AsyncLogger>-->
        <!--<AsyncLogger name="com.ltmonitor.server.mina.JT808MessageDecoder" level="error" additivity="false"-->
                     <!--includeLocation="true">-->
            <!--<AppenderRef ref="console"/>-->
            <!--<AppenderRef ref="binaryfile"/>-->
            <!--<AppenderRef ref="infoFile"/>-->
        <!--</AsyncLogger>-->
        <!--<AsyncLogger name="com.ltmonitor.jt808.common.impl.StatisticService" level="info" additivity="false"-->
                     <!--includeLocation="true">-->
            <!--<AppenderRef ref="console"/>-->
            <!--<AppenderRef ref="stfile"/>-->
            <!--<AppenderRef ref="infoFile"/>-->
        <!--</AsyncLogger>-->
        <!--<AsyncLogger name="monitorLog" level="debug" additivity="false" includeLocation="true">-->
            <!--<AppenderRef ref="connfile"/>-->
        <!--</AsyncLogger>-->

    </Loggers>

</Configuration>